<ion-view view-title="Appuntamenti">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-pane>
        <ion-content>
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="date in dates" type="item-text-wrap">
                    <h2>{date.{user.name}} {{date.user.surname}}</h2>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>