<ion-view view-title="{{user.name + ' ' + user.surname}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-chevron-left" ng-click="goBack();">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        
    </ion-nav-buttons>
    <ion-pane>
        <ion-content>
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="user.name" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Cognome</span>
                <input type="text" ng-model="user.surname">
            </label>
            <label class="item item-input">
                <span class="input-label">Data di nascita</span>
                <input type="date" ng-model="user.birthDate">
            </label>
            <label class="item item-input">
                <span class="input-label">Indirizzo</span>
                <input type="text" ng-model="user.address">
            </label>
            <label class="item item-input">
                <span class="input-label">Numero</span>
                <input type="text" ng-model="user.number">
            </label>
            <label class="item item-input">
                <span class="input-label">Città</span>
                <input type="text" ng-model="user.city">
            </label>
            <label class="item item-input">
                <span class="input-label">Provincia</span>
                <input type="text" ng-model="user.province">
            </label>
            
            <button class="button button-positive" ng-click="persist();">
                Salva
            </button>
        </ion-content>
    </ion-pane>
</ion-view>